.layout_registrar_curso{
    border-radius: 20px;
    background-color: #A35494;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;
    margin-top: 0vh;
}

.header_registrar_curso{
    color: white;
  }
  .footer_registrar_Curso {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 2vw;
    padding-right: 0vw;
    height: 100%;

  }
  
  .main_registrar_curso{
    flex-grow: 1;
    max-height: 50vh;
    overflow-y: scroll;
    max-width: 100%;
    scrollbar-width: none;
  }
  
  .footer_registrar_curso {
    padding-bottom: 0vw;
  }


  