.layout_registrar_curso{
    border-radius: 20px;
    background-color: #A35494;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

.header_registrar_curso{
    color: white;
    height: 5vw;
    padding-top: .5vw;
    max-width: 100%;
  }
  .grid-header{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    justify-content: space-between;
    align-items: center; 
    display: flex;
    width: 100%;
  }
  .footer_registrar_Curso {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 2vw;
    padding-right: 0vw;
    height: 100%;

  }
  
  .main_registrar_curso{
    flex-grow: 1;
    max-height: 40vh;
    overflow-y: scroll;
    max-width: 100%;
    scrollbar-width: none;
  }
  
  .footer_registrar_curso {
    padding-bottom: 0vw;
  }


  .card-header{
    color: white;
    max-width: 100%;
  }

  .lbl-salir-header{
    color: white;
    font-size: 1.5vw;
    font-weight: bold;

  }

  .lbl-campos-obligatorios{
    max-width: auto;
    max-height: auto;
    color: white;
    font-size: .8vw;
  }

  .div-datos-personales{
    align-items: center;
    text-align: center;
    margin-top: -1vw;
    padding-bottom: 1vw;
  }

  .lbl-datos-personales{
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    padding-bottom: 1vw;
    text-align: center;
    align-items: center;
  }



  .ScrollRegistro{
    height: 90vw;
  }

  
@media (max-width: 1280px) {

    .layout_registrar_curso{
        height: 40vw;

        padding-top: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 1vw;
    }

    .ScrollRegistro{
        height: 27.5vw;
    }

    .header_registrar_curso{
        padding-top: 0vw;
    }


    
  .lbl-salir-header{
    font-size: 1.5vw;

  }

  .lbl-campos-obligatorios{
    font-size: 1vw;
  }

  .lbl-datos-personales{
    font-size: 1.5vw;
  }


}

@media (max-width: 1024px) {
    .layout_registrar_curso{
        margin-top: 5vw;
        margin-bottom: 5vw;
        height: 55vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 1vw;
    }

    .ScrollRegistro{
        height: 38vw;
    }

    

    
  .lbl-salir-header{
    font-size: 2vw;

  }

  .lbl-campos-obligatorios{
    font-size: 1.2vw;
  }

  .lbl-datos-personales{
    font-size: 1.9vw;
    margin-top: 20vw;
  }


}
  

@media (max-width: 800px) {


    .layout_registrar_curso{
        margin-top: 2vw;
        margin-bottom: 2vw;
        height: 50vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 1vw;
    }

    .ScrollRegistro{
        height: 28vw;
    }


    
  .lbl-salir-header{
    font-size: 2vw;

  }

  .lbl-campos-obligatorios{
    font-size: 1.2vw;
  }

  .lbl-datos-personales{
    font-size: 1.7vw;
  }


}
  