.darken-background {
    filter: brightness(0.5); 
    transition: filter 0.3s ease;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    padding-bottom: 5vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .popup-content {
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  }

  .popup-overlay-inicio {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .popup-content-inicio {
    border-radius: 10px;
    width: 50%;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10vh;
  }

  .popup-confirmation {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
  }


  