.layout_l {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.contenedorLogin {
    flex: 1; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
}

.left { 
    background-color: #A35494;
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
}

#ContenedorFachada {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

#ContenedorFachada .fachada {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 40%;
    transform: scale(1.4); 
}


.logo_ivai {
    position: absolute;
    top: 5%;
    left: 25%;
    height: 85vh;
    border: none;
}

.right {
    place-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: .1vw; 
    align-items: center;
    justify-content: center;
}

.right p {
    padding-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    color: #A35494;
}

.img-right-l {
    max-height: 90%; 
    width: auto; 
}

input {
    border: 0.1vh solid #A35494; 
    color: #A35494;
    border-radius: 10px; 
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1.5rem; 
    outline: none;
    margin-bottom: 1vw; 
    width: 100%; 
    max-width: 20vw; 
}

input:focus {
    border-color: #A35494; 
    box-shadow: 0 0 0 2px rgba(163, 84, 148, 0.3); 
}

.btn_ingresar {
    background-color: #A35494;
    color: white; 
    border: none;
    border-radius: 10px; 
    font-size: 1.1vw;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-top: 4vh; 
    height: 5vh;
    width: 100vh; 
    max-width: 13vw; 
    margin-bottom: 12vh;
}

.btn_ingresar:hover {
    background-color: #8c2c6d;
}

/* FOOTER */
.footer_l {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #A35494;
    text-align: center;
    color: white;
}

.footer_l p {
    font-size: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer_l .social-group_l {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3.5vh;
    padding-right: 5vh;
    gap: 0.5vh; 
}

.footer_l .social-group_l a {
    margin: 5px; 
}

.footer_l .social-group_l img {
    width: 4vh; 
    filter: invert(100%); 
}


@media (max-width: 768px) {
    
    .left {
        display: none;
    }

    
    .right {
        grid-column: 1 / -1; 
        width: 100vw;
    }

    
    input {
        font-size: 1rem;
        max-width: 90vw;
    }

    .btn_ingresar {
        font-size: 1rem;
        max-width: 90vw;
        height: 6vh;
    }
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
